/* .tf{
    -fx-pref-width: 10px;
} */
#namaApp{
    -fx-font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
    -fx-font-size: 30px;
    -fx-padding: 20px;
    -fx-font-weight:bold;
    -fx-text-fill:rgb(233, 231, 231);
}
#tombolMulai{
    -fx-font-size: 20px;
    -fx-font-family: Courier,sans-serif;
    -fx-background-radius: 50px;
    -fx-font-weight:bold;
    -fx-background-color: rgb(155, 155, 3);
    /* -fx-border-radius: 20px; */
    /* -fx-border-width: 0px 60px 0px 60px; */
    -fx-padding:15px 100px 15px 100px;
    /* -fx-alignment:top-center; */
    -fx-cursor:hand;
}

#latarScene1{
    -fx-background-color: rgb(94, 93, 93);
}
/* ----------------------- */
#latarScene2{
    -fx-background-color: rgb(94, 93, 93);
}
#menuCalcu{
    -fx-font-size:25px;
    -fx-padding: 40px 0px 50px 0px;
    -fx-font-weight:bold;
    -fx-text-fill:rgb(233, 231, 231);
    
}
#tombol1{
    -fx-font-family:Courier,sans-serif;
    -fx-font-weight:bold;
    -fx-font-size: 15px;
    -fx-background-radius: 20px;
    -fx-cursor:hand;
    -fx-padding:22px 39px 22px 39px;
    -fx-text-fill: white;
    -fx-background-color:rgb(167, 163, 163);
    
    
}
#tombol2{
    -fx-font-family:Courier,sans-serif;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-font-weight:bold;
    -fx-translate-y:10px;

    -fx-font-size: 15px;
    -fx-cursor:hand;
    -fx-padding:20px 30px 20px 30px;
    -fx-background-color:rgb(167, 163, 163);
}
#tombolMulai:hover{
    -fx-background-color:rgb(231, 231, 13);

}
#tombol1:hover{
    -fx-background-color:rgb(192, 191, 191);
    -fx-text-fill: rgb(71, 70, 70);
}
#tombol2:hover{
    -fx-background-color:rgb(192, 191, 191);
    -fx-text-fill: rgb(71, 70, 70);
}
#latarScene3{
    -fx-background-color: rgb(94, 93, 93);
}
#judulPythagoras{
    -fx-font-family:Courier,sans-serif;
    -fx-font-size:35px;
    -fx-padding: 40px 0px 15px 0px;
    -fx-font-weight:bold;
    -fx-text-fill:rgb(185, 185, 185);
}
#input1Pythagoras{
    -fx-font-size:20px;
    -fx-background-radius: 15px;
    -fx-min-width: 100px;
    -fx-pref-width: 200px;
    -fx-max-width: 300px;
    -fx-pref-height: 80px;
}
#salahInput{
    -fx-font-size:20px;
    -fx-text-fill:rgb(241, 110, 110);
    -fx-font-weight:bold;
}
#input2Pythagoras{
    -fx-font-size:20px;
    -fx-background-radius: 15px;
    -fx-min-width: 100px;
    -fx-pref-width: 200 px;
    -fx-max-width: 300px;
    -fx-pref-height: 80px;
    -fx-translate-y:15px;
}
#hasilPythagoras{
    -fx-text-fill:rgb(179, 177, 177);
    -fx-font-size:20px;
    -fx-font-weight:bold;
    -fx-font-family:Courier,sans-serif;
    -fx-translate-x:-115px;
    -fx-translate-y:30px;
}
#hasilnyaPythagoras{
    -fx-border-color:white;
    -fx-border-width:3px;
    -fx-border-radius: 4px;
    -fx-min-width: 30px;
    -fx-pref-width: 50 px;
    -fx-max-width: 100px;
    -fx-pref-height: 45px;
    -fx-prompt-text: Input Disini;
    -fx-translate-x:-95px;
    -fx-translate-y:30px;
    -fx-text-fill:white;
    -fx-font-weight:bold;
    -fx-font-size:15px;
}
#buttonClear{
    -fx-background-color:rgb(165, 164, 164);
    -fx-font-size:20px;
    -fx-background-radius:10px;
    -fx-font-weight:bold;
    -fx-font-family:Courier,sans-serif;
    -fx-translate-x:-75px;
    -fx-translate-y:47px;
    -fx-pref-width: 130 px;
    -fx-max-width: 150px;
    -fx-pref-height:60px;
    -fx-cursor:hand;
}
#buttonCalculate{
    -fx-background-color:yellow;
    -fx-padding:15px 30px 15px 30px;
    -fx-background-radius:10px;
    -fx-font-size:20px;
    -fx-font-weight:bold;
    -fx-font-family:Courier,sans-serif;
    -fx-translate-x:78px;
    -fx-translate-y:-13px;
    -fx-cursor:hand;
}
#buttonHome{
    -fx-padding:10px 110px 20px 110px;
    -fx-border-radius:10px;
    -fx-font-size:20px;
    -fx-font-weight:bold;
    -fx-font-family:Courier,sans-serif;
    -fx-translate-y:5px;
    -fx-border-color:white;
    -fx-background-color:rgb(94, 93, 93);
    -fx-text-fill:white;
    -fx-cursor:hand;
}
#buttonHome:hover{
    -fx-text-fill:rgb(66, 66, 66);
    -fx-border-radius:10px;
    -fx-background-radius:10px;
    -fx-background-color:rgb(190, 190, 190);
    
}
#latarScene4{
    -fx-background-color: rgb(94, 93, 93);
}
#judulSuhu{
    -fx-font-family:Courier,sans-serif;
    -fx-font-size:35px;
    -fx-padding: 40px 0px 50px 0px;
    -fx-text-origin:top;
    -fx-text-alignment:right;
    -fx-font-weight:bold;
    -fx-text-fill:rgb(233, 231, 231);
}
#input1Suhu{
    -fx-font-size:20px;
    -fx-background-radius: 15px;
    -fx-min-width: 100px;
    -fx-pref-width: 200px;
    -fx-max-width: 300px;
    -fx-pref-height: 80px;
}
#input2Suhu{
    -fx-font-size:20px;
    -fx-background-radius: 15px;
    -fx-min-width: 100px;
    -fx-pref-width: 200 px;
    -fx-max-width: 300px;
    -fx-pref-height: 80px;
    -fx-prompt-text: Input Disini;
    -fx-translate-y:15px;
}
#salahInputSuhu{
    -fx-font-size:20px;
    -fx-text-fill:rgb(241, 110, 110);
    -fx-font-weight:bold;
}
#hasilSuhu{
    -fx-text-fill:rgb(233, 231, 231);
    -fx-font-size:20px;
    -fx-font-weight:bold;
    -fx-font-family:Courier,sans-serif;
    -fx-translate-x:-115px;
    -fx-translate-y:30px;
}
#hasilnyaSuhu{
    -fx-border-color:white;
    -fx-border-width:3px;
    -fx-border-radius: 4px;
    -fx-min-width: 30px;
    -fx-pref-width: 50 px;
    -fx-max-width: 100px;
    -fx-pref-height: 45px;
    -fx-prompt-text: Input Disini;
    -fx-translate-x:-95px;
    -fx-translate-y:30px;
    -fx-text-fill:white;
    -fx-font-weight:bold;
    -fx-font-size:15px;
}
#buttonClearSuhu{
    -fx-background-color:rgb(165, 164, 164);
    -fx-font-size:20px;
    -fx-background-radius:10px;
    -fx-font-weight:bold;
    -fx-font-family:Courier,sans-serif;
    -fx-translate-x:-75px;
    -fx-translate-y:47px;
    -fx-pref-width: 130 px;
    -fx-max-width: 150px;
    -fx-pref-height:60px;
    -fx-cursor:hand;
}
#buttonCalculateSuhu{
    -fx-background-color:yellow;
    -fx-padding:15px 30px 15px 30px;
    -fx-background-radius:10px;
    -fx-font-size:20px;
    -fx-font-weight:bold;
    -fx-font-family:Courier,sans-serif;
    -fx-translate-x:78px;
    -fx-translate-y:-13px;
    -fx-cursor:hand;
}
#buttonHomeSuhu{
    -fx-padding:10px 110px 20px 110px;
    -fx-border-radius:10px;
    -fx-font-size:20px;
    -fx-font-weight:bold;
    -fx-font-family:Courier,sans-serif;
    /* -fx-translate-x:-115px; */
    -fx-translate-y:5px;
    -fx-border-color:white;
    -fx-background-color:rgb(94, 93, 93);
    -fx-text-fill:white;
    -fx-cursor:hand;
}
#buttonHomeSuhu:hover{
    -fx-text-fill:rgb(66, 66, 66);
    -fx-border-radius:10px;
    -fx-background-radius:10px;
    -fx-background-color:rgb(190, 190, 190);
    
}
